{% extends 'myapp/index.html' %}

{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Add category <small class="text-muted">Welcome to Brainhub</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Brainhub</a></li>
                                                            <li class="breadcrumb-item">category</li>
                                                            <li class="breadcrumb-item active">Add category</li>
                                                            <li class="breadcrumb-item active">Add category</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">\
            {% if s_msg %}
            <div class="alert alert-success" role="alert">
                {{s_msg}}
              </div>
              {% endif %}

              {% if e_msg %}
              <div class="alert alert-success" role="alert">
                  {{e_msg}}
                </div>
                {% endif %}
            <div class="card">
                <div class="header">
                    <h2><strong>edit</strong>couese<small>Description text here...</small> </h2>
                    <ul class="header-dropdown">                            
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <form method="post" action="{% url 'update_course' %}" enctypepe="multipart/from-data">
                {% csrf_token %}
                    <div class="body">
                        <input type="hidden" name="courseid" value="{{course_id.id}}"/>
                        <div class="row clearfix"> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="choose category" name="category" list="categorylist" value="{{course_id.category_name}}">
                                    <datalist id="categorylist">
                                        {% for c in call %}
                                        <option value = {{ c.category_name }}>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Course Name" name="course_name" value="{{course_id.course_name}}">
                                </div>
                            </div>
                            
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Course Durations" name="course_duration" value="{{course_id.course_duration}}">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Fees" name="fees" value="{{course_id.fees}}">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Course tutor name" name="course_tutor_name" value="{{course_id.course_tutor_name}}">
                                </div>
                            </div>

                            </div>
                        </div>

                        <div class="row clearfix">
                            </div>
                            
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div class="form-group">
                                     Upload Lecture flow :  
                                    <input type="file" class="form-control" name="course_lecture_flow">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                     Upload Heandbook :  
                                    <input type="file" class="form-control" name="course_heandbook">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                   Upload course interview qustion :  
                                    <input type="file" class="form-control" name="course_interview_qustion">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                      Upload Assignment qustion :  
                                    <input type="file" class="form-control" name="course_assignment">
                                </div>
                            </div>

                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    Upload Course Pic :
                                    <input type="file" class="form-control" name="course_pic">
                                </div>
                            </div>
                        </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="type course disciptions here..." name="course_descriptions" value="{{course_id.}}"></textarea>
                                    </div>
                                </div>
                            </div>
                        

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-primary btn-round" value="submit">
                                <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</section>
{% endblock %}
