<body style="font-family: 'Poppins', Arial, sans-serif">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding: 20px;">
                <table class="content" width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: 1px solid #cccccc;">
                    <!-- Header -->
                    <tr>
                        <td class="header" style="background-color: #345C72; padding: 40px; text-align: center; color: white; font-size: 24px;">
                        Wellcome to Brainhub
                        </td>
                    </tr>

                    <!-- Body -->
                    <tr>
                        <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                        Hello, All! <br>
                        Your new password OTP show below 
                                                <br><br>
                            
                        </td>
                    </tr>

                    <!-- Call to action Button -->
                    <tr>
                        
                        <td style="padding: 0px 40px 0px 40px; text-align: center;">
                            <!-- CTA Button -->
                            <table cellspacing="0" cellpadding="0" style="margin: auto;">
                                <td>
                                    <pre>
                                    "Brainerhub Solutions  Software Development Company in India, is a team of innovators, web developers, software engineers, and tech enthusiasts who help businesses grow. We have a proven track record of success, 
                                    and our clients include some of the biggest names in the industry: Kraftas, GrowMoney, Osign, Conserv and many more. We are experts in full-stack development, cloud engineering, and mobile app development. We also 
                                    offer a wide range of other services, including marketing, design, and consulting. We are best engineering partner for your most complicated business challenges. We think of ourselves as a transformation machine that processes 
                                    an idea and converts it into a tangible digital solution perfected for your target market."
                                    </pre>
                                </td>
                                <tr>
                                    
                                    <td align="center" style="background-color: #345C72; padding: 10px 20px; border-radius: 5px;">
                                        <a href="https://www.yourwebsite.com" target="_blank" style="color: #ffffff; text-decoration: none; font-weight: bold;">{{data.otp}}</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">             
                        </td>
                    </tr>
                    <!-- Footer -->
                    <tr>
                        <td class="footer" style="background-color: #333333; padding: 40px; text-align: center; color: white; font-size: 14px;">
                        Copyright &copy; 2025 | Brainhub
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>